# Telegram Bot Configuration
BOT_TOKEN=8947264322:AAGZyRaOVVmFCWUhoOHwsPAQVWXMVUeQ97g
CHANNEL_ID=@Tg_Petshala
GROUP_ID=@Tg_Petshalaa

# Admin Configuration
ADMIN_IDS=1771051433

# Database
DB_PATH=users.db
